.add-form{
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link:hover{
    text-decoration: none;
}

.pl0{
    padding-left: 0;
}
.mb16{
    margin-bottom: 16px;
}
.text-red{
    color:red;
}
.text-yellow{
    color:yellow;
}